.aboutUs {
  margin-top: 32px;
  margin-bottom: 136px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
  }
  &-content {
    max-width: 760px;
  }
  &-title {
    font-family: $primary-font;
    color: $black-text;
    font-size: 38px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 16px;
  }
  &-desc {
    font-family: $primary-font;
    color: $black-text;
    font-size: 16px;
    line-height: 27px;
  }
  &-image img {
    border-radius: 40px;
  }
}
.story {
  margin-bottom: 184px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
  }
  &-image img {
    width: 285px;
    height: 350px;
    object-fit: cover;
    border-radius: 40px;
  }
  &-content {
    max-width: 760px;
  }
  &-title {
    font-family: $secondary-font;
    color: $black-text;
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
    margin-bottom: 20px;
  }
  &-desc {
    font-family: $primary-font;
    color: $black-text;
    font-size: 16px;
    line-height: 27px;
  }
}
.focus {
  margin-bottom: 152px;
  &-header {
    font-family: $secondary-font;
    font-size: 40px;
    font-weight: 800;
    line-height: 50.76px;
    text-align: center;
    margin-bottom: 48px;
  }
  &-menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  &-item {
    list-style: none;
    text-align: center;
  }
  &-img img {
    margin: 0 auto;
    margin-bottom: 38px;
  }
  &-title {
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.92px;
    margin-bottom: 16px;
  }
  &-desc {
    font-family: $primary-font;
    font-size: 17px;
    line-height: 23.94px;
  }
}
