.service {
  margin-bottom: 128px;
  &-header {
    font-family: $secondary-font;
    color: $black-text;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 60px;
    font-weight: 800;
  }
  &-menu {
    display: flex;
    gap: 32px;
    padding: 0;
  }
  &-item {
    max-width: 295px;
    list-style: none;
    padding: 16px;
    box-shadow: #000000 -1px 0.45049px 5.35147px -2px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.25s;
  }
  &-item:hover {
    transform: scale(1.1);
  }
  &-title {
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.94px;
    margin-bottom: 8px;
  }
  &-desc {
    font-family: $primary-font;
    line-height: 24px;
    font-size: 16px;
  }
}
